
@import './colors';

.activities-container{
	width:80%;
	max-width:1400px;
	margin:0 auto;
}


.activity-container{

	height:auto;

}


.activity-feed{

	// width:400px;
	margin:0 auto;
	padding:40px;
}