@import './colors.scss';

.hero-container{


	font-family:'Roboto Slab',sans-serif;
	font-weight:700;
	width:100%;
	background-color:white;
	padding-top:10%;
	padding-bottom:200px;

	.name-container{

		width:350px;
		margin:0 auto;
		color:$text-color-dark;
		letter-spacing: 2px;

		.main-title{
			font-weight:700;
		}
	}

	.subtitle{
		width:500px;
		margin:0 auto;
		margin-top:25px;
		font-size:1.5em;
		font-weight:700;

	}


	.media-links{

		margin-top:50px;
		font-weight:700;	
		font-size:1.3em;


	}

}


.hero-content{

	width:600px;
	margin:0 auto;

}


