
@import './colors';

body {
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  font-size:14px;
}

a{
	color:$salmon;

	&:hover{
		color:darken($salmon,10%) !important;
		text-decoration:none;

	}

	&:active , &:visited{
		
		// color:darken($salmon,4%) !important;
		text-decoration: none;
	}

}

.section-header{

	font-family:'Roboto Slab',sans-serif;
	color:black;
	letter-spacing:2px;
	font-weight:700;

}

