
@import './colors';

body {
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  font-size:14px;
}



.section-header{

	font-family:'Roboto Slab',sans-serif;
	color:black;
	letter-spacing:2px;
	font-weight:700;

}

