.hero-container {
  font-family: 'Roboto Slab',sans-serif;
  font-weight: 700;
  width: 100%;
  height: 50vh;
  background-color: #FF6B6B;
  padding-top: 10%; }
  .hero-container .name-container {
    width: 350px;
    margin: 0 auto;
    background-color: black;
    color: white;
    letter-spacing: 2px; }
    .hero-container .name-container .main-title {
      font-weight: 700; }
  .hero-container .subtitle {
    color: white;
    width: 500px;
    margin: 0 auto;
    margin-top: 25px;
    font-family: 'Roboto',sans-serif;
    font-size: 1.5em;
    font-weight: 400; }

.hero-content {
  width: 600px;
  margin: 0 auto; }
