.turbo-red {
  color: #FF6B6B; }

.hero-container {
  font-family: 'Roboto Slab',sans-serif;
  font-weight: 700;
  width: 100%;
  background-color: white;
  padding-top: 10%;
  padding-bottom: 200px; }
  .hero-container .name-container {
    width: 350px;
    margin: 0 auto;
    color: #2F2F2F;
    letter-spacing: 2px; }
    .hero-container .name-container .main-title {
      font-weight: 700; }
  .hero-container .subtitle {
    width: 500px;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 1.5em;
    font-weight: 700; }
  .hero-container .media-links {
    margin-top: 50px;
    font-weight: 700;
    font-size: 1.3em; }

.hero-content {
  width: 600px;
  margin: 0 auto; }

@media (min-width: 375px) and (max-width: 767px) {
  .hero-container .name-container .main-title {
    font-weight: 700;
    font-size: 1.7em; }
  .hero-container .subtitle {
    width: 80%;
    font-size: 0.8em; }
  .hero-container .media-links {
    font-size: 1em; }
  .hero-content {
    width: 100%;
    margin: 0 auto; } }

@media (min-width: 0px) and (max-width: 374px) {
  .hero-container .name-container .main-title {
    font-weight: 700;
    font-size: 1.7em; }
  .hero-container .subtitle {
    width: 80%;
    font-size: 0.8em; }
  .hero-container .media-links {
    font-size: 1em; }
  .hero-content {
    width: 100%;
    margin: 0 auto; } }
