.turbo-red {
  color: #FF6B6B; }

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 14px; }

a {
  color: #FF6B6B; }
  a:hover {
    color: #ff7f7f;
    font-size: 1.4em;
    text-decoration: none; }
  a:active, a:visited {
    color: #ff7f7f;
    text-decoration: none; }

.section-header {
  font-family: 'Roboto Slab',sans-serif;
  color: black;
  letter-spacing: 2px;
  font-weight: 700; }
