.turbo-red {
  color: #FF6B6B; }

@keyframes placeHolderText {
  0% {
    background-position: -268px 0; }
  100% {
    background-position: 468px 0; } }

.loading-container {
  overflow: hidden;
  width: 420px;
  height: 260px;
  margin: 0 auto;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderText;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  position: relative; }

.first-mask {
  background-color: white;
  height: 50px; }

.second-mask {
  height: 90px;
  background-color: white;
  width: 139.33333px; }

.third-mask {
  position: absolute;
  height: 90px;
  background-color: white;
  width: 189.33333px;
  top: 50px;
  left: 244px; }

.fourth-mask {
  position: absolute;
  background-color: white;
  height: 30px;
  top: 140px;
  width: 100%; }

.fifth-mask {
  height: 12px;
  position: absolute;
  background-color: white;
  width: 60px;
  top: 170px; }

.sixth-mask {
  position: absolute;
  height: 12px;
  background-color: white;
  width: 80px;
  top: 170px;
  left: 358px; }

.seventh-mask {
  position: absolute;
  background-color: white;
  height: 15px;
  top: 182px;
  width: 100%; }

.eighth-mask {
  height: 12px;
  position: absolute;
  background-color: white;
  width: 30px;
  top: 197px; }

.ninth-mask {
  position: absolute;
  height: 12px;
  background-color: white;
  width: 60px;
  top: 197px;
  left: 388px; }

.tenth-mask {
  position: absolute;
  background-color: white;
  height: 15px;
  top: 209px;
  width: 100%; }

.eleventh-mask {
  height: 12px;
  position: absolute;
  background-color: white;
  width: 50px;
  top: 224px; }

.twelfth-mask {
  position: absolute;
  height: 12px;
  background-color: white;
  width: 60px;
  top: 224px;
  left: 368px; }

.thirteenth-mask {
  position: absolute;
  background-color: white;
  height: 15px;
  top: 236px;
  width: 100%;
  height: 100%; }
