.turbo-red {
  color: #FF6B6B; }

.portfolio-item {
  font-family: 'Roboto Slab',sans-serif;
  position: relative;
  text-align: center;
  padding-top: 20px;
  margin: 0 auto;
  margin-bottom: 100px; }

.item-info {
  padding-left: 0px; }

.project-name {
  font-weight: 700; }

.project-summary {
  color: #717171;
  padding: 15px;
  padding-left: 10%;
  padding-right: 10%; }

.img-container {
  width: 100%;
  margin: 0 auto;
  height: 250px;
  margin-bottom: 10px;
  overflow: hidden; }

.item-footer {
  height: 10px;
  background-color: #90D86E;
  position: absolute;
  bottom: 0;
  width: 100%; }
